@{
    ViewData["Title"] = "Nuevo Usuario";
}
    <div><h1>@ViewData["Title"]</h1></div>
    <hr />
    <div>
        <form id="create-usuario-form">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="nombres">Nombres</label>
                    <input type="text" class="form-control" id="nombres" name="nombres">
                </div>
                <div class="form-group col-md-2">
                    <label for="edad">Edad</label>
                    <input type="number" class="form-control" id="edad" name="edad">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="ocupacion">Ocupacion</label>
                    <input type="text" class="form-control" id="ocupacion" name="ocupacion">
                </div>
                <div class="form-group col-md-3">
                    <label for="celular">Celular</label>
                    <input type="text" class="form-control" id="celular" name="celular">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="direccion">Direccion</label>
                    <input type="text" class="form-control" id="direccion" name="direccion">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <button type="button" id="btn-crear" class="btn btn-info">Crear</button>
                </div>             
            </div>
            <div class="form-row">
                <div id="alert-form" style="display:none" class="form-group col-md-6 alert alert-danger" role="alert">
                    Error en la creacion del usuario!
                </div>
            </div>
        </form>
    </div>

@section scripts
{
    <script src="~/js/homeCreate.js"></script>
}